.nav-bar {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 18px;
  height: 50px;
  margin: 0;
  background: #222222;

  &__link {
    color: white;
    text-decoration: none;
    margin: 12px;
  }
}

.active {
  color: aquamarine;
}


