<ul class="nav-bar">
  <li><a class="nav-bar__link" [routerLinkActive]="'active'" href='agario' >Agario</a></li>
  <li><a class="nav-bar__link" [routerLinkActive]="'active'" href='planets' >Physics</a></li>
  <li><a class="nav-bar__link" [routerLinkActive]="'active'" href='spring' >Spring</a></li>
  <li><a class="nav-bar__link" [routerLinkActive]="'active'" href='particles'>Particles</a></li>
  <li><a class="nav-bar__link" [routerLinkActive]="'active'" href='autonomous-agents'>Autonomous agents</a></li>
</ul>
<router-outlet></router-outlet>
